<head>
    <link href="/stylesheets/user/profile.css" rel="stylesheet" type="text/css">
</head>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header text-center">
            <a href="/profile/<%= currentUser._id %>/posts"><img style="width: 50%; min-width: 40px" class="mx-auto d-block pb-3" src="https://image.flaticon.com/icons/svg/435/435061.svg"></a>
            <a href="/profile/<%= currentUser._id %>/posts">Olá, <%= currentUser.firstName %></a>
        </div>

        <ul class="list-unstyled components">
            <li id="home">
                <a href="/profile/<%= currentUser._id %>/timeline">
                    <i class="fas fa-home"></i>
                    Home
                </a>
            </li>
            <li id="posts">
                <a href="/profile/<%= currentUser._id %>/posts">
                    <i class="far fa-star"></i>
                    Meus Posts
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="far fa-thumbs-up"></i>
                    Meus Likes (x)
                </a>
                <!-- <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-duplicate"></i>
                    Pages
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul> -->
            </li>
            <li>
                <a href="#">
                        <i class="far fa-comments"></i>
                    Comentários (x)
                </a>
            </li>
            <li>
                <a href="/profile/<%= currentUser.id %>/edit">
                    <i class="fas fa-user-circle"></i>
                    Editar Perfil (-)
                </a>
            </li>
            <li id="profiles">
                <a href="/profile/find">
                    <i class="fas fa-users"></i>
                    Outros perfis
                </a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
            <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn navbar-btn">
                        <i class="fas fa-bars"></i>
                        <!-- <span>Imagem Toggle</span> -->
                    </button>
                </div>

                <!-- <div style="float: right">
                    <a href="">
                        <p style="margin: 0">Notificações</p>
                    </a>
                </div>

                <div>
                    <a href="/logout">
                        <i class="fas fa-home"></i>
                        <p style="margin: 0px">Logout</p>
                    </a>
                </div> -->

                <div class="row">
                    <div class="col px-3">
                        <div class="btn-group">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i style="color: rgb(32, 35, 53)" class="fas fa-bell fa-lg"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button">Actionsdfgsfgsdfgsfgsdfgsfgsfsdfggsdfg sdfgsfdgsdfg</button>
                                <button class="dropdown-item" type="button">Action</button>
                                <button class="dropdown-item" type="button">Action</button>
                                <button class="dropdown-item" type="button">Action</button>
                            </div>
                        </div>
                    </div>
                    <div class="col px-3 text-center my-auto">
                        <a href="/logout">
                            <i style="color: rgb(32, 35, 53)" class="fas fa-sign-out-alt fa-lg"></i>
                        </a>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                    </ul>
                </div>
            </div>
        </nav>