<%- include("../partials/header") %> 

<head>
    <link href="/stylesheets/user/profile.css" rel="stylesheet" type="text/css">
</head>

<%- //include("../partials/sidebar") %>


<div class="row">
    <div class="col-md-2 sidebar">
        <div class="sticky-top">
            <div class="left-profile text-center py-5 w-100">
                <a href="/profile/<%= currentUser._id %>/posts"><img class="mx-auto d-block pb-3" src="https://image.flaticon.com/icons/svg/435/435061.svg"></a>
                <a href="/profile/<%= currentUser._id %>/posts">Olá, <%= currentUser.firstName %></a>
            </div>
            <div class="page">
                <a href="">
                    <i class="col-3 fas fa-home fa-2x"></i>
                    <h4>Meus Posts</h4>
                </a> 
            </div>
            <div class="page d-flex justify-content-center align-items-center">
                <i class="col-3 far fa-thumbs-up fa-2x"></i>
                <h4>Meus Likes</h4>
            </div>
            <div class="page d-flex justify-content-center align-items-center">
                <i class="col-3 far fa-comments fa-2x"></i>
                <h4>Meus Comentários</h4>
            </div>       
            <div class="page d-flex justify-content-center align-items-center">
                <i class="col-3 fas fa-user-circle fa-2x"></i>
                <h4>Editar Perfil</h4>
            </div>  
        </div>
    </div>

    <div class="col-md-7">
        <% if(currentUser && pageUser.equals(currentUser._id)){ %> 
            <div class="header py-3">
                <h1 class="text-center">Olá <%= currentUser.firstName %> </h1>
                <form id="newPost" action="/profile/<%= pageUser.id %>/posts/new" method="POST">
                    <div class="my-4">
                        <input class="py-3" type="text" name="post[title]" placeholder="Um título"><br>
                        <textarea name="post[text]" placeholder="Aqui vem seu post"></textarea>
                    </div>
                    <div class="text-center">
                        <button class="postar" type="submit">Postar</button>
                    </div>  
                </form>
            </div>
        <% } %> 
        
        <div class="line"></div>
        
        <% pageUser.posts.forEach(function(post){ %>
        
            <h2><%= post.title %></h2>
            <p><%= post.text %></p>
        
            <a href="/profile/<%= pageUser.id %>/posts/<%= post._id %>"><button>VER POST</button></a>
        
            <div class="line"></div>
        
        <% }) %> 
    </div>

    <div class="col-md-3">
        <div class="row text-center pt-5">
            <% for(var i=0; i<users.length && i<10; i++){ %>
                <% if(currentUser._id !== users[i]._id){ %>
                    <div class="col-md-6 py-3">
                        <img style="width: 50%" src="https://image.flaticon.com/icons/svg/435/435061.svg"><br>
                        <a href="/profile/<%= users[i]._id %>/posts"><%= users[i].firstName %> <%= users[i].surname %></a>
                    </div>        
                <% } %> 
            <% } %> 
        </div>
    </div>
</div>


<%- include("../partials/footer") %> 