<%- include("../partials/header") %> 

<head>
    <link href="/stylesheets/user/profile.css" rel="stylesheet" type="text/css">
</head>

<%- include("../partials/sidebar") %>

<script>
    document.getElementById("posts").classList.add("active")
</script>

<% if(currentUser && pageUser._id.equals(currentUser._id)){ %> 
    <div class="header py-3">
        <form id="newPost" action="/profile/<%= pageUser.id %>/posts/new" method="POST">
            <textarea class="pb-3 pl-3" name="post[text]" placeholder="Aqui vem seu post"></textarea>
            <button class="postar" type="submit">Postar</button>
        </form>
    </div>
<% } %> 

<div class="line"></div>

<% pageUser.posts.forEach(function(post){ %>
    <div class="row pl-3">
        <div class="col-md-1 col-sm-2 py-3">
            <img style="min-width: 50px; max-width: 80px" src="<%= pageUser.profileIconURL %>">
        </div>

        <div class="col-md-11 col-sm-10">
            <h4><%= pageUser.firstName %> - <%= pageUser.username %> </h4>
            
            <p><%= post.text %></p>
            <a href="/profile/<%= pageUser.id %>/posts/<%= post._id %>"><button class="postar">VER POST</button></a>
        </div>
        
        <div class="line"></div>  
    </div>   
<% }) %> 

</div>

<div class="container">
    <div class="row d-none d-lg-block text-center py-3">
        <h3 class="w-100 py-2">Novos Usuários</h3><br>
        <% for(var i=0; i<users.length && i<10; i++){ %>
            <% if(currentUser._id !== users[i]._id){ %>
                <div class="py-3">
                    <img style="width: 25%" src="https://image.flaticon.com/icons/svg/435/435061.svg"><br>
                    <a href="/profile/<%= users[i]._id %>/posts"><%= users[i].firstName %> <%= users[i].surname %></a>
                </div>        
            <% } %> 
        <% } %> 
    </div>
</div>

<%- include("../partials/footer") %> 