<%- include("../partials/header") %> 

<head>
    <link href="/stylesheets/user/profile.css" rel="stylesheet" type="text/css">
</head>

<%- include("../partials/sidebar") %>

<div class="header py-3">
    <h1 class="text-center">Olá <%= currentUser.firstName %> </h1>
    <form id="newPost" action="/profile/<%= pageUser.id %>/posts/new" method="POST">
        <div class="my-4">
            <input class="py-3" type="text" name="post[title]" placeholder="Um título"><br>
            <textarea name="post[text]" placeholder="Aqui vem seu post"></textarea>
        </div>
        <div class="text-center">
            <button class="postar" type="submit">Postar</button>
        </div>  
    </form>
</div>


<div class="line"></div>

<% pageUser.posts.forEach(function(post){ %>

    <h2><%= post.title %></h2>
    <p><%= post.text %></p>

    <a href="/profile/<%= pageUser.id %>/posts/<%= post._id %>"><button>VER POST</button></a>

    <div class="line"></div>

<% }) %> 

</div>

<%- include("../partials/footer") %> 