<%- include("../partials/header") %> 

<head>
    <link href="/stylesheets/user/profile.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/posts/show.css" rel="stylesheet" type="text/css">
</head>

<%- include("../partials/sidebar") %>

<style>

</style>

<div class="line"></div>

<div class="row pl-3">
    <div class="col-md-1 col-sm-2 py-3">
        <img style="min-width: 50px; max-width: 80px" src="<%= pageUser.profileIconURL %>">
    </div>
    <div class="col-md-11 col-sm-10">
        <h4><%= pageUser.firstName %> - <%= pageUser.username %> </h4>
        
        <p><%= post.text %></p>

        <form id="like" action="/profile/<%= pageUser._id %>/posts/<%= post._id %>/like" method="POST">
            <div class="row align-items-center">
                <button type="submit" class="btn"><i class="far fa-thumbs-up fa-2x"></i></button>
                <h3 class="my-auto"><%= post.likes.length %></h3>     
            </div> 
        </form>
        <div class="row py-3">
            <% if(currentUser && post.author.id.equals(currentUser._id)){ %> 
                <a class="mr-3" href="/profile/<%= pageUser._id %>/posts/<%= post._id %>/edit"><button class="postar">EDITAR</button></a>
            
                <form action="/profile/<%= pageUser._id %>/posts/<%= post._id %>?_method=DELETE" method="POST">
                    <button class="postar" type="submit">DELETAR</button>
                </form>
            <% } %>  
        </div>
    </div>
</div>

<div class="line"></div>

<div class="header py-3">
    <form id="newPost" action="/profile/<%= pageUser._id %>/posts/<%= post._id %>/comments/new" method="POST">
        <textarea class="pb-3 pl-3" type="text" name="comment[text]" placeholder="Comente!"></textarea>
        <button class="postar" type="submit">Comentar</button>
    </form>
</div>

<h1 class="py-3">Comentários</h1>

<% post.comments.forEach(function(comment){ %>
    <div class="row pl-3">
        <div class="col-md-1 col-sm-2 py-3">
            <img style="min-width: 50px; max-width: 80px" src="<%= comment.author.id.profileIconURL %>">
        </div>

        <div class="col-md-11 col-sm-10">
            <h4><%= comment.author.id.firstName %> - <%= comment.author.username %> </h4>
        
            <p><%= comment.text %></p>

            <form id="like" action="" method="POST">
                <div class="row align-items-center">
                    <button type="submit" class="btn"><i class="far fa-thumbs-up fa-2x"></i></button>
                    <h3 class="my-auto"><%= comment.likes.length %></h3>     
                </div> 
            </form>

            <div class="row py-3">
                <% if(currentUser && post.author.id.equals(currentUser._id)){ %> 
                    <a class="mr-3" href="/profile/<%= pageUser._id %>/posts/<%= post._id %>/edit"><button class="postar">EDITAR</button></a>
                
                    <form action="/profile/<%= pageUser %>/posts/<%= post._id %>?_method=DELETE" method="POST">
                        <button class="postar" type="submit">DELETAR</button>
                    </form>
                <% } %>  
            </div>
        </div>
    </div>

    <div class="line"></div> 
<% }) %>   

<%- include("../partials/footer") %> 