<%- include("../partials/header") %> 

<head>
    <link href="/stylesheets/posts/show.css" rel="stylesheet" type="text/css">
</head>

<%- include("../partials/sidebar") %>

<div class="line"></div>

<h1><%= post.title %></h1>
<p><%= post.text %> </p> 
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<form action="/profile/<%= pageUser %>/posts/<%= post._id %>/like" method="POST">
    <button type="submit">LIKE</button>
</form>

<% if(currentUser && post.author.id === currentUser._id){ %> 
    <a href="/profile/<%= pageUser %>/posts/<%= post._id %>/edit"><button>EDITAR</button></a>
    <h4>Likes: <%= post.likes.length %> </h4>

    <form action="/profile/<%= pageUser %>/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button type="submit">DELETAR</button>
    </form>
<% } %> 

<form action="/profile/<%= pageUser %>/posts/<%= post._id %>/comments/new" method="POST">
    <textarea type="text" name="comment[text]" placeholder="Comente!"></textarea>
    <button type="submit">Comentar</button>
</form>

<div class="line"></div>

<h1>Comentários</h1>

<div>
    <% post.comments.forEach(function(comment){ %>
        <h4><%= comment.text %></h4>
        <p>-<%= comment.author.username %></p>
    
        <% if(currentUser && comment.author.id === currentUser._id){ %> 
            <form action="/profile/<%= pageUser %>/posts/<%= post._id %>/comments/<%= comment._id %>/edit">
                <button type="submit">EDITAR</button>
            </form>

            <form action="/profile/<%= pageUser %>/posts/<%= post._id %>/comments/<%= comment._id %>/delete?_method=DELETE" method="POST">
                <button type="submit">APAGAR</button>
            </form>
        <% } %>

        <div class="line"></div> 
        
    <% }) %>   
</div>

<%- include("../partials/footer") %> 